/*.body-image-area {
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(71, 71, 71);
  margin: 20px;
  display: flex;
  flex-wrap: column;
  justify-content: space-around;
  background: white;
  align-items: center;
  width: 70vw;
}*/

.body-image-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100vw;
}
.image {
  border-radius: 5px;
  width: 380px;
  height: 370px;
  margin: 15px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16), 0 2px 3px rgba(0, 0, 0, 0.23);
}

.image:hover {
  cursor: pointer;
}
.image-button {
  position: absolute !important;
  bottom: 5px !important;
  right: 5px !important;
  color: pink !important;
  z-index: 5;
}
.d-none {
  display: none !important;
}

@media only screen and (max-width: 650px) {
  .body-image-area {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .image {
    border-radius: 5px;
    width: 350px;
    height: 200px;
    margin: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16), 0 2px 3px rgba(0, 0, 0, 0.23);
  }
}
